In [6]:
import pandas as pd
import numpy as np

print("‚úÖ Libraries loaded successfully!")

‚úÖ Libraries loaded successfully!

In [7]:
# Load raw data
df = pd.read_csv('../data/raw/ecommerce_raw_data.csv')

print(f"üìä Dataset loaded: {df.shape[0]} rows, {df.shape[1]} columns")

üìä Dataset loaded: 1050 rows, 9 columns

In [8]:
df.head(10)

,order_id,customer_name,email,category,price,quantity,order_date,payment_status,customer_rating
0,1522,Emma Wilson,bob@email.com,Electronics,459.151266,2.0,15-03-2024,NaN,1.0
1,1738,Maria Garcia,john@email.com,clothing,149.294306,1.0,2023-11-20,NaN,5.0
2,1741,Emma Wilson,NaN,Home & Garden,36.622697,8.0,2023-11-20,NaN,2.0
3,1661,Michael Brown,maria@email.com,NaN,75.873213,7.0,2023-11-20,Pending,1.0
4,1412,Michael Brown,alice@invalid,clothing,248.956864,4.0,2024-01-01,NaN,5.0
5,1679,jane smith,alice@invalid,NaN,386.772163,2.0,2023-11-20,failed,1.0
6,1627,Maria Garcia,john@email.com,ELECTRONICS,433.138286,8.0,2024/02/20,pending,5.0
7,1514,NaN,not-an-email,Home & Garden,339.753645,3.0,2026-12-31,Failed,4.0
8,1860,Emma Wilson,bob@email.com,clothing,450.294696,9.0,NaN,NaN,2.0
9,1137,John Doe,alice@invalid,electronics,43.789428,6.0,2024/02/20,Unknown,1.0

In [9]:
print("üìã Data Types:")
print(df.dtypes)
print("\n" + "="*50)
print(f"Total columns: {len(df.columns)}")

üìã Data Types:
order_id             int64
customer_name       object
email               object
category            object
price              float64
quantity           float64
order_date          object
payment_status      object
customer_rating    float64
dtype: object

==================================================
Total columns: 9

In [10]:
print("‚ùå Missing Values Count:")
missing = df.isnull().sum()
print(missing[missing > 0])  # Sadece null olanlarƒ± g√∂ster

print(f"\nüìä Missing Percentage:")
missing_pct = (df.isnull().sum() / len(df) * 100).round(2)
print(missing_pct[missing_pct > 0])

‚ùå Missing Values Count:
customer_name      120
email              119
category           110
price               20
quantity            20
order_date         148
payment_status      94
customer_rating     31
dtype: int64

üìä Missing Percentage:
customer_name      11.43
email              11.33
category           10.48
price               1.90
quantity            1.90
order_date         14.10
payment_status      8.95
customer_rating     2.95
dtype: float64

In [11]:
print("üîç Unique Values per Column:")
for col in df.columns:
    print(f"{col}: {df[col].nunique()} unique values")

üîç Unique Values per Column:
order_id: 1000 unique values
customer_name: 7 unique values
email: 6 unique values
category: 9 unique values
price: 980 unique values
quantity: 15 unique values
order_date: 7 unique values
payment_status: 9 unique values
customer_rating: 10 unique values

In [12]:
print("üì¶ Category Values:")
print(df['category'].value_counts(dropna=False))
# dropna=False ‚Üí null deƒüerleri de say

üì¶ Category Values:
category
electronics      122
NaN              110
clothing         109
Home & Garden    106
Clothing         106
Electronics      102
ELECTRONICS      100
home & garden    100
Books            100
books             95
Name: count, dtype: int64

In [13]:
print("üí∞ Price Statistics:")
print(df['price'].describe())

print("\n‚ö†Ô∏è Negative Prices:")
print(df[df['price'] < 0]['price'].count())

print("\n‚ö†Ô∏è Outliers (Price > 1000):")
print(df[df['price'] > 1000]['price'].count())

üí∞ Price Statistics:
count    1030.000000
mean      322.884376
std       755.088898
min       -49.638461
25%       129.135541
50%       251.903352
75%       379.375920
max      9966.275077
Name: price, dtype: float64

‚ö†Ô∏è Negative Prices:
20

‚ö†Ô∏è Outliers (Price > 1000):
11

In [14]:
print("üîÑ Duplicate Rows:")
duplicates = df.duplicated().sum()
print(f"Total duplicates: {duplicates}")

print("\nSample duplicate:")
print(df[df.duplicated(keep=False)].head(4))
# keep=False ‚Üí hem orijinali hem kopyasƒ±nƒ± g√∂ster

üîÑ Duplicate Rows:
Total duplicates: 50

Sample duplicate:
     order_id customer_name           email       category       price  \
59       1821   Emma Wilson   alice@invalid  Home & Garden  419.385311
76       1653   Emma Wilson    not-an-email            NaN  260.111920
96       1765  Maria Garcia    not-an-email    ELECTRONICS  482.398424
101      1352      John Doe  jane@email.com          Books   18.823212

     quantity  order_date payment_status  customer_rating
59        3.0  2026-12-31           paid              1.0
76        3.0  15-03-2024            NaN              4.0
96        8.0  2024-01-15       Refunded              3.0
101       7.0  2024-01-15           Paid              2.0